@page "/Field/{FieldId}"

<div class="field-div">
    <h3 class="field-first-heading">@Contents?.Description (@(Contents?.Id??FieldId))</h3>
    <div>
        <content class="field-body">@Contents?.Content</content>
    </div>
    @if (Contents?.Records != null && Contents.Records.RecordCollection.Count > 0)
    {
        <RecordsGrid Records="@Contents.Records" />
    }
    @if (Contents?.Tables != null && Contents.Tables.TableCollection.Count > 0)
    {
        var tables = Contents.Tables;
        <div class="mt-3 mb-3">
            <h3 class="field-second-heading">@LocaleStaticTexts.TablesDescription</h3>
            @foreach (var table in tables.TableCollection)
            {
                <div>
                    <NavLink href=@("/table/"+ table.Id)>
                        <content class="field-links">@table.Description</content>
                    </NavLink>
                    <content class="field-links-text">(@table.Id)</content>
                </div>
            }
        </div>
    }
</div>
